// Colors
$primary-color: #06334D;
$secondary-color: #6c757d;
$background-color: #E6EEF2;
$text-color: #212529;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Typography
$font-family-heading: 'Righteous', sans-serif;
$font-family-link: '';
$font-size-base: 1rem;